<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./Css/style.css" />
</head>

<body>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <div class="main-content">
        {{>header}}
        <p>This Site was created by Kamal.J. It uses data from mapbox.com</p>
        <img class="portrait" src="/image/download.jpeg" />
    </div>

    {{>footer}}
</body>

</html>