<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/download1.jpeg">
    <link rel="stylesheet" href="./Css/style.css" />
    <script src="client.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errormsg}}</p>
    </div>

    {{>footer}}
</body>

</html>